<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seminarhall">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--        android:name=".NotificationGroup.NotificationClass"-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sessions"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".NotificationGroup.Notify"></activity>
        <activity
            android:name=".ProfilePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceiptUser"
            android:theme="@style/AppTheme.NoActionBar2" /> <!-- <<<<<<< 7march -->
        <activity android:name=".home" />
        <activity
            android:name=".admin.receipt"
            android:theme="@style/AppTheme.NoActionBar2" /> <!-- 7march -->
        <activity android:name=".LogIn.NewUser" /> <!-- >>>>>>> master -->
        <activity
            android:name=".booking.Reserve"
            android:parentActivityName=".homePage.UserDetails"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homePage.profile"
            android:parentActivityName=".homePage.UserDetails"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".admin.functions"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity android:name=".HCalendar" />
        <activity
            android:name=".LogIn.SignIn"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".dataBase.addHall"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity android:name=".LogIn.reset" />
        <activity
            android:name=".homePage.UserDetails"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".LogIn.Singup"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".LogIn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homePage.MyBookings"
            android:parentActivityName=".home"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".admin.Admin_Control"
            android:parentActivityName=".homePage.UserDetails"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".dataBase.hallList"
            android:parentActivityName=".home"
            android:theme="@style/AppTheme.NoActionBar2" />

        <service
            android:name=".MessagingService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--        android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--        android:value="Default Channel" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_bug" />-->
<!--        &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
<!--             notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/colorAccent" />-->
<!--        <receiver android:name=".NotificationGroup.NotificationReceiver" />-->

    </application>

</manifest>