<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seminarhall">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Seminar Hall Reservation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".Photo"></activity>
        <activity android:name=".HCalendar" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hallList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addHall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".reset" />
        <activity
            android:name=".UserDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Singup"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>